.timer {
  /* font-size: 200%; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.5);
  background-color: lightgray;
  color: black;
  padding: 1em;
  text-align: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  /* font-weight: 300; */
  margin-top: 30px;
  /* top: 5px;
  right: 5px; */
}
